---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="First visit">
  <Header showLogo={true} />
  <!-- <h1>First visit</h1> -->
</Layout>
