---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hangdog - Home">
  <div
    class="text-white w-screen h-screen bg-black font-jost bg-[url(/bg.jpeg)] bg-no-repeat bg-cover"
  >
    <div
      class="absolute w-screen h-screen bg-gradient-to-br from-transparent to-[rgba(000,000,000,0.7)]"
    >
      <div
        class="absolute w-screen h-screen bg-gradient-to-b from-[rgba(000,000,000,0.5)] to-transparent"
      >
        <div class="pointer-events-auto">
          <Header showLogo={false} />

          <main
            class="w-full lg:w-2/3 h-screen absolute top-0 right-0 flex justify-center items-center pointer-events-none"
          >
            <div
              class="flex flex-col items-end pointer-events-auto animate-fadeIn"
            >
              <div class="flex items-baseline">
                <h1 class="text-7xl font-bold drop-shadow-2xl shadow-black">
                  HANGDOG
                </h1>
                <img src="/logo.png" alt="logo" class="ml-[-50px] h-28" />
              </div>
              <p class="text-xl font-light">bouldering & sport climbing</p>

              <div class="flex self-center gap-5 mt-24">
                <button
                  class="p-3 hover:bg-white hover:text-black transition-all bg-[rgba(000,000,000,0.2)] border-2 border-white px-5 text-white"
                  >What's involved?</button
                >
                <button
                  class="p-3 bg-transparent bg-white px-5 text-black hover:bg-gray-100 transition-all"
                  >Book a climb</button
                >
              </div>
            </div>
          </main>

          <footer
            class="w-full lg:w-2/3 absolute bottom-0 right-0 flex justify-center items-center mb-4 text-gray-300"
          >
            <div class="flex gap-5">
              <span>
                <b>Email</b>
                <a class="font-light" href="mailto:info@hangdog.co.nz"
                  >info@hangdog.co.nz</a
                >
              </span>

              <span>
                <b>Phone</b>
                <a class="font-light" href="tel:+64045899181">(04) 589 9181</a>
              </span>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</Layout>
